<div class="slide-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"><h2>Meu Perfil</h2></div>
    </div>
  </div>
</div>

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-2 left-menu">
      <app-layout-menu-perfil></app-layout-menu-perfil>
    </div>
    <div class="col-md-10 content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">Escolas Vinculadas</div>
            <div class="card-body"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
