<div class="slide-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"><h2>Meu Perfil</h2></div>
    </div>
  </div>
</div>

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-2 left-menu">
      <app-layout-menu-perfil></app-layout-menu-perfil>
    </div>
    <div class="col-md-10 content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">Gerenciar Escolas</div>
            <div class="card-body">
              <a href="#" class="btn btn-primary">
                <i class="material-icons"> add_box </i> Adicionar Nova Escola
              </a>
              <hr />
              <h5 class="card-title">Escolas vinculadas</h5>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Nome da Escola</th>
                    <th scope="col">Adicionada Em</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Escola raul sans de Matos (Funlec)</th>
                    <td>01/12/2018</td>
                    <td>
                      <a href="#" class="btn btn-danger">
                        <i class="material-icons"> delete </i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Escola raul sans de Matos (Funlec)</th>
                    <td>01/12/2018</td>
                    <td>
                      <a href="#" class="btn btn-danger">
                        <i class="material-icons"> delete </i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Escola raul sans de Matos (Funlec)</th>
                    <td>01/12/2018</td>
                    <td>
                      <a href="#" class="btn btn-danger">
                        <i class="material-icons"> delete </i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Escola raul sans de Matos (Funlec)</th>
                    <td>01/12/2018</td>
                    <td>
                      <a href="#" class="btn btn-danger">
                        <i class="material-icons"> delete </i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
