<ul class="menu">
  <li class="disabled">Professor</li>
  <li>
    <a
      routerLink="/professor-questoes"
      data-toggle="tooltip"
      data-placement="right"
      title="Adicione, edite ou inative questões."
    >
      <i class="material-icons"> description </i> Questões
    </a>
  </li>
  <li>
    <a
      href=""
      data-toggle="tooltip"
      data-placement="right"
      title="Crie, configure e aplique Desafios a suas Salas de Aulas."
    >
      <i class="material-icons"> explore </i> Desafios
    </a>
  </li>
  <li>
    <a
      href=""
      data-toggle="tooltip"
      data-placement="right"
      title="Gerencie suas Salas de Aula."
    >
      <i class="material-icons"> class </i> Salas de Aula
    </a>
  </li>
  <li>
    <a
      href=""
      data-toggle="tooltip"
      data-placement="right"
      title="Controle e gerencie seus alunos."
    >
      <i class="material-icons"> face </i> Alunos
    </a>
  </li>
  <li>
    <a
      href=""
      data-toggle="tooltip"
      data-placement="right"
      title="Exporte notas e resultados dos desafios."
    >
      <i class="material-icons"> assessment </i> Relatórios e Notas
    </a>
  </li>
  <li class="disabled">Superizzi</li>
  <li>
    <a
      href=""
      data-toggle="tooltip"
      data-placement="right"
      title="Questões rápidas para adicionar a um desafio."
    >
      <i class="material-icons"> description </i> Questões Prontas
    </a>
  </li>
  <li>
    <a
      href=""
      data-toggle="tooltip"
      data-placement="right"
      title="Deixamos quase tudo pronto pra você não perder tempo :)"
    >
      <i class="material-icons"> bookmarks </i> Desafios Prontos
    </a>
  </li>
  <li>
    <a
      href=""
      data-toggle="tooltip"
      data-placement="right"
      title="Fique por dentro das novidadades do nosso Blog."
    >
      <i class="material-icons"> notifications_active </i> Novidades
    </a>
  </li>
</ul>
