<ul class="menu">
  <li class="disabled">Professor</li>
  <li>
    <a
      routerLink="/desafios"
      data-toggle="tooltip"
      data-placement="right"
      title="Crie, configure e aplique Desafios a suas Salas de Aulas."
    >
      <i class="material-icons"> explore </i> Desafios
    </a>
  </li>
  <li>
    <a
      href=""
      data-toggle="tooltip"
      data-placement="right"
      title="Gerencie suas Salas de Aula."
    >
      <i class="material-icons"> class </i> Salas de Aula
    </a>
  </li>
  <li>
    <a
      href=""
      data-toggle="tooltip"
      data-placement="right"
      title="Fique por dentro das novidadades do nosso Blog."
    >
      <i class="material-icons"> notifications_active </i> Novidades
    </a>
  </li>
</ul>
