<ul class="menu">
  <li class="disabled">Professor</li>
  <li>
    <a href=""> <i class="material-icons"> description </i> Questões </a>
  </li>
  <li>
    <a href=""> <i class="material-icons"> explore </i> Desafios </a>
  </li>
  <li>
    <a href=""> <i class="material-icons"> class </i> Salas de Aula </a>
  </li>
  <li>
    <a href=""> <i class="material-icons"> face </i> Alunos </a>
  </li>
  <li>
    <a href="">
      <i class="material-icons"> assessment </i> Relatórios e Notas
    </a>
  </li>
  <li class="disabled">Superizzi</li>
  <li>
    <a href=""> <i class="material-icons"> bookmarks </i> Desafios Prontos </a>
  </li>
  <li>
    <a href="">
      <i class="material-icons"> notifications_active </i> Novidades
    </a>
  </li>
</ul>
