<div class="slide-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"><h2>Avisos</h2></div>
    </div>
  </div>
</div>

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-2 left-menu">
      <app-layout-menu-professor></app-layout-menu-professor>
    </div>
    <div class="col-md-10 content">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manutenção Corretiva</h5>
              <h6 class="card-subtitle mb-2 text-muted">10/12/2018 as 11:20</h6>
              <p class="card-text text-justify">
                Foi realizado em nossos sistemas uma manutenção corretiva do
                módulo de professores.
              </p>
              <!-- <a href="#" class="card-link">Leia Mais</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manutenção Corretiva</h5>
              <h6 class="card-subtitle mb-2 text-muted">10/12/2018 as 11:20</h6>
              <p class="card-text text-justify">
                Foi realizado em nossos sistemas uma manutenção corretiva do
                módulo de professores.
              </p>
              <!-- <a href="#" class="card-link">Leia Mais</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manutenção Corretiva</h5>
              <h6 class="card-subtitle mb-2 text-muted">10/12/2018 as 11:20</h6>
              <p class="card-text text-justify">
                Foi realizado em nossos sistemas uma manutenção corretiva do
                módulo de professores.
              </p>
              <!-- <a href="#" class="card-link">Leia Mais</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manutenção Corretiva</h5>
              <h6 class="card-subtitle mb-2 text-muted">10/12/2018 as 11:20</h6>
              <p class="card-text text-justify">
                Foi realizado em nossos sistemas uma manutenção corretiva do
                módulo de professores.
              </p>
              <!-- <a href="#" class="card-link">Leia Mais</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manutenção Corretiva</h5>
              <h6 class="card-subtitle mb-2 text-muted">10/12/2018 as 11:20</h6>
              <p class="card-text text-justify">
                Foi realizado em nossos sistemas uma manutenção corretiva do
                módulo de professores.
              </p>
              <!-- <a href="#" class="card-link">Leia Mais</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manutenção Corretiva</h5>
              <h6 class="card-subtitle mb-2 text-muted">10/12/2018 as 11:20</h6>
              <p class="card-text text-justify">
                Foi realizado em nossos sistemas uma manutenção corretiva do
                módulo de professores.
              </p>
              <!-- <a href="#" class="card-link">Leia Mais</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
