<header *ngIf="currentUser">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="logomarca">
          <a href="">
            <img
              src="../assets/images/superizzi-logo-white.png"
              alt="Logomarca Superizzi"
            />
          </a>
        </div>
        <div class="pre-menu">
          <a href="" class="btn btn-yellow"> Criar </a>
          <a href="">
            <i class="material-icons"> notifications_active </i> Avisos
          </a>
          <a href="#" routerLink="/professor-perfil">
            <i class="material-icons"> person </i> Perfil
          </a>
          <a href="#" (click)="logout()">
            <i class="material-icons"> lock_open </i> Sair
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
