<header *ngIf="currentUser">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="logomarca">
          <a href="">
            <img
              src="../assets/images/superizzi-logo-white.png"
              alt="Logomarca Superizzi"
            />
          </a>
        </div>
        <div class="pre-menu">
          <a href="" class="btn btn-yellow"> Criar Desafio </a>
          <a href=""> <i class="far fa-bell"></i> Avisos </a>
          <a href=""> <i class="far fa-user"></i> Perfil </a>
          <a href="#" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Sair
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
