<div class="slide-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"><h2>Meu Perfil</h2></div>
    </div>
  </div>
</div>

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-2 left-menu">
      <app-layout-menu-perfil></app-layout-menu-perfil>
    </div>
    <div class="col-md-10 content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">Planos e Licenças</div>
            <div class="card-body">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th class="thread-light" scope="col" width="200">
                      Plano Atual
                    </th>
                    <td scope="col">Plano Mensal #1</td>
                  </tr>
                  <tr>
                    <th class="thread-light" scope="col" width="200">
                      Valor do Plano
                    </th>
                    <td scope="col">R$ 5,00</td>
                  </tr>
                  <tr>
                    <th class="thread-light" scope="col" width="200">Validade Licença</th>
                    <td scope="col">Expira em 23/01/2019</td>
                  </tr>
                </thead>
              </table>

              <hr>
              <h5 class="card-title"> Pagamentos </h5>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Cód Transação</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Data da Transação</th>
                    <th scope="col">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">00112</th>
                    <td>Pagamento Ref. a mensalidade do plano basico #1</td>
                    <td>01/12/2018</td>
                    <td>R$5,00</td>
                  </tr>
                  <tr>
                    <th scope="row">00112</th>
                    <td>Pagamento Ref. a mensalidade do plano basico #1</td>
                    <td>01/11/2018</td>
                    <td>R$5,00</td>
                  </tr>
                  <tr>
                    <th scope="row">00112</th>
                    <td>Pagamento Ref. a mensalidade do plano basico #1</td>
                    <td>01/10/2018</td>
                    <td>R$5,00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
