<div class="slide-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"><h2>Minhas Questões</h2></div>
    </div>
  </div>
</div>

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-2 left-menu">
      <app-layout-menu-professor></app-layout-menu-professor>
    </div>
    <div class="col-md-10 content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">Pesquisar Questão</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <label> Parte do Enunciado </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ex: Qual é"
                  />
                </div>
                <div class="col-md-4">
                  <label> Tipo de Questão </label>
                  <select name="" id="" class="form-control">
                    <option value=""> Multipla Escolha </option>
                    <option value=""> Verdadeiro ou Falso </option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label> Disciplina </label>
                  <select name="" id="" class="form-control">
                    <option value=""> Matemática </option>
                    <option value=""> Física </option>
                    <option value=""> História </option>
                  </select>
                </div>
              </div>
              <hr />
              <a href="#" class="float-right btn btn-primary">Filtrar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img
              class="card-img-top"
              src="../../assets/images/example-question.jpg"
              alt="Example Question"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Questão #10</h5>
              <p class="card-text text-justify">
                O avanço do uso de novas tecnologias de informação e comunicação
                altera as relações sociais, os hábitos cotidianos e os costumes
                das pessoas, especialmente nas grandes cidades. [...]
                <a href=""> Ler tudo </a>
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item disabled">Alternativas</li>
              <li class="list-group-item">
                Teste Alternativa 1
                <span class="badge badge-danger">Incorreta</span>
              </li>
              <li class="list-group-item">
                Teste Alternativa 2
                <span class="badge badge-success">Correta</span>
              </li>
              <li class="list-group-item">
                Teste Alternativa 3
                <span class="badge badge-danger">Incorreta</span>
              </li>
              <li class="list-group-item">
                Teste Alternativa 4
                <span class="badge badge-danger">Incorreta</span>
              </li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Editar</a>
              <a href="#" class="card-link">Duplicar</a>
              <a href="#" class="card-link">Excluir</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img
              class="card-img-top"
              src="../../assets/images/example-question.jpg"
              alt="Example Question"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Questão #10</h5>
              <p class="card-text text-justify">
                O avanço do uso de novas tecnologias de informação e comunicação
                altera as relações sociais, os hábitos cotidianos e os costumes
                das pessoas, especialmente nas grandes cidades. [...]
                <a href=""> Ler tudo </a>
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item disabled">Alternativas</li>
              <li class="list-group-item">
                Teste Alternativa 1
                <span class="badge badge-danger">Incorreta</span>
              </li>
              <li class="list-group-item">
                Teste Alternativa 2
                <span class="badge badge-success">Correta</span>
              </li>
              <li class="list-group-item">
                Teste Alternativa 3
                <span class="badge badge-danger">Incorreta</span>
              </li>
              <li class="list-group-item">
                Teste Alternativa 4
                <span class="badge badge-danger">Incorreta</span>
              </li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Editar</a>
              <a href="#" class="card-link">Duplicar</a>
              <a href="#" class="card-link">Excluir</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img
              class="card-img-top"
              src="../../assets/images/example-question.jpg"
              alt="Example Question"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Questão #10</h5>
              <p class="card-text text-justify">
                O avanço do uso de novas tecnologias de informação e comunicação
                altera as relações sociais, os hábitos cotidianos e os costumes
                das pessoas, especialmente nas grandes cidades. [...]
                <a href=""> Ler tudo </a>
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item disabled">Alternativas</li>
              <li class="list-group-item">
                Teste Alternativa 1
                <span class="badge badge-danger">Incorreta</span>
              </li>
              <li class="list-group-item">
                Teste Alternativa 2
                <span class="badge badge-success">Correta</span>
              </li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Editar</a>
              <a href="#" class="card-link">Duplicar</a>
              <a href="#" class="card-link">Excluir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
