<div class="slide-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"><h2>Desafios</h2></div>
    </div>
  </div>
</div>

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-2 left-menu">
      <app-layout-menu-professor></app-layout-menu-professor>
    </div>
    <div class="col-md-10 content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">Pesquisar Desafio</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <label> Disciplina </label>
                  <select name="" id="" class="form-control">
                    <option value=""> Matemática </option>
                    <option value=""> Física </option>
                    <option value=""> História </option>
                  </select>
                </div>
                <div class="col-md-8">
                  <label> Palavas Chave </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ex: Geografia política 2° ano, Qual o tamanho da Terra?, etc."
                  />
                </div>
              </div>
              <hr />
              <a href="#" class="float-right btn btn-primary">Filtrar</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card desafio-item">
            <div class="card-header">
              Números Primos 1° ano
              <div class="float-right">
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Editar"
                >
                  <i class="material-icons"> edit </i>
                </a>
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Visualizar"
                >
                  <i class="material-icons"> visibility </i>
                </a>
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Duplicar"
                >
                  <i class="material-icons"> file_copy </i>
                </a>
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Compartilhar"
                >
                  <i class="material-icons"> share </i>
                </a>
                <a
                  class="btn btn-danger btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Remover"
                >
                  <i class="material-icons"> delete </i>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <p class="card-text">Criado por <b>Superizzi</b></p>
                  <p class="card-text">01 de Fevereiro de 2018.</p>
                  <div>
                    <span class="badge badge-secondary"
                      >Ensino Fundamental</span
                    >
                    <span class="badge badge-info">Matemática</span>
                  </div>
                  <div>
                    <a href="#" class="btn btn-primary">
                      <i class="material-icons"> play_arrow </i> Jogar
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <img
                    width="100%"
                    src="../../assets/images/example-question.jpg"
                    alt=""
                  />
                </div>
              </div>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card desafio-item">
            <div class="card-header">
              Números Primos 1° ano
              <div class="float-right">
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Editar"
                >
                  <i class="material-icons"> edit </i>
                </a>
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Visualizar"
                >
                  <i class="material-icons"> visibility </i>
                </a>
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Duplicar"
                >
                  <i class="material-icons"> file_copy </i>
                </a>
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Compartilhar"
                >
                  <i class="material-icons"> share </i>
                </a>
                <a
                  class="btn btn-danger btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Remover"
                >
                  <i class="material-icons"> delete </i>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <p class="card-text">Criado por <b>Superizzi</b></p>
                  <p class="card-text">01 de Fevereiro de 2018.</p>
                  <div>
                    <span class="badge badge-secondary"
                      >Ensino Fundamental</span
                    >
                    <span class="badge badge-info">Matemática</span>
                  </div>
                  <div>
                    <a href="#" class="btn btn-primary">
                      <i class="material-icons"> play_arrow </i> Jogar
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <img
                    width="100%"
                    src="../../assets/images/example-question.jpg"
                    alt=""
                  />
                </div>
              </div>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card desafio-item">
            <div class="card-header">
              Números Primos 1° ano
              <div class="float-right">
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Editar"
                >
                  <i class="material-icons"> edit </i>
                </a>
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Visualizar"
                >
                  <i class="material-icons"> visibility </i>
                </a>
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Duplicar"
                >
                  <i class="material-icons"> file_copy </i>
                </a>
                <a
                  class="btn btn-primary btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Compartilhar"
                >
                  <i class="material-icons"> share </i>
                </a>
                <a
                  class="btn btn-danger btn-sm"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Remover"
                >
                  <i class="material-icons"> delete </i>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <p class="card-text">Criado por <b>Superizzi</b></p>
                  <p class="card-text">01 de Fevereiro de 2018.</p>
                  <div>
                    <span class="badge badge-secondary"
                      >Ensino Fundamental</span
                    >
                    <span class="badge badge-info">Matemática</span>
                  </div>
                  <div>
                    <a href="#" class="btn btn-primary">
                      <i class="material-icons"> play_arrow </i> Jogar
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <img
                    width="100%"
                    src="../../assets/images/example-question.jpg"
                    alt=""
                  />
                </div>
              </div>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
