<div class="slide-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"><h2>Dashboard</h2></div>
    </div>
  </div>
</div>

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-2 left-menu">
      <ul class="menu">
        <li class="disabled">Professor</li>
        <li><a href=""> Questões </a></li>
        <li><a href=""> Desafios </a></li>
        <li><a href=""> Salas de Aula </a></li>
        <li><a href=""> Alunos </a></li>
        <li class="disabled">Superizzi</li>
        <li><a href=""> Favoritos </a></li>
        <li><a href=""> Desafios Prontos </a></li>
        <li><a href=""> Novidades </a></li>
      </ul>
    </div>
    <div class="col-md-10 content">
      <div class="row-special"><h4>Ultimas Noticias do Blog</h4></div>
    </div>
  </div>
</div>
