<ul class="menu">
  <li class="disabled">Perfil</li>
  <li>
    <a routerLink="/professor-perfil">
      <i class="material-icons"> account_box </i> Visão Geral
    </a>
  </li>
  <li>
    <a
      routerLink="/professor-plano"
      data-toggle="tooltip"
      data-placement="right"
      title="Alterne entre planos, gerencie suas licenças e controle pagamentos."
    >
      <i class="material-icons"> credit_card </i> Planos e Licenças
    </a>
  </li>
  <li>
    <a
      routerLink="/professor-atualizar"
      data-toggle="tooltip"
      data-placement="right"
      title="Atualize suas informações pessoais."
    >
      <i class="material-icons"> edit </i> Atualizar Dados
    </a>
  </li>
  <li>
    <a
      routerLink="/professor-escolas"
      data-toggle="tooltip"
      data-placement="right"
      title="Adicione e remova escolas em que leciona."
    >
      <i class="material-icons"> school </i> Escolas
    </a>
  </li>
</ul>
